{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
    <style> 
        .req {
            margin:2px;
            color:#1ab188;
        }
    </style>
{% endblock %} 

{% block body %} 
    <div class="row">
        <div class="col-md-6 col-md-offset-3">  
            <div class="form-group">
                <div id="divUser" class="form-group">
                    <p>Usuario<span class="req">*</span></p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input class="form-control" id="textUser" type="text" required autocomplete="off" />
                    </div>
                    <span id="helpBlockUser" class="help-block"></span>
                </div>

                <div id="divPassword" class="form-group">
                    <p>Contraseña<span class="req">*</span></p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input class="form-control" id="textPassword" type="password" required autocomplete="off"/>
                    </div>
                    <span id="helpBlockPassword" class="help-block"></span>
                </div>

                <div id="divLogin" class="form-group">
                    <button id="btnLoginClient" type="submit"  onclick="login();" class="btn btn-success"/>Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var validUser = false;
        var validPassword = false;
        
        $('#textUser').focusout(function () {
            var user = $("#textUser").val();

            if (user === null || user.length === 0 || /^\s+$/.test(user)) {
                $("#divUser").removeClass("has-success");
                $("#divUser").addClass("has-error");
                $("#helpBlockUser").text("Campo Obligatorio");
                validUser = false;
            } else {
                $("#divUser").addClass("has-success");
                $("#divUser").removeClass("has-error");
                $("#helpBlockUser").text("");
                validUser = true;
            }
        });
        
        $('#textPassword').focusout(function () {
            var password = $("#textPassword").val();

            if (password === null || password.length === 0 || /^\s+$/.test(password)) {
                $("#divPassword").removeClass("has-success");
                $("#divPassword").addClass("has-error");
                $("#helpBlockPassword").text("Campo Obligatorio");
                validPassword = false;
            } else {
                $("#divPassword").addClass("has-success");
                $("#divPassword").removeClass("has-error");
                $("#helpBlockPassword").text("");
                validPassword = true;
            }
        });
        
        function login() {
            console.log("valid user " + validUser);
            console.log("valid password " + validPassword);
            
            if (validUser === true && validPassword === true) {
                alert  ("Inicio de sesión Exitoso");
                window.location = "{{ path('lavaseco_client_home') }}"
            }
            else{
                if (validUser === false) {
                    $("#divUser").addClass("has-error");
                    $("#helpBlockUser").text("Campo Obligatorio");
                }
                if(validPassword === false){
                    $("#divPassword").addClass("has-error");
                    $("#helpBlockPassword").text("Campo Obligatorio");
                }
            }
        }
    </script>
{% endblock %}