{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block body %} 
    <h1>
        Bienvenido Diego Castro
    </h1> 
    <p>
        Seleccione la opción de su preferencia    
    </p>
    <hr>
    <ol id="breadcrumbMenu" class="breadcrumb">
        <li><a class="active">Inicio</a></li>
    </ol>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="blockOption" class="text-center" role="group">
                <a href="{{ path('lavaseco_sales') }}">
                    <div class="col-sm-6 col-md-4 service-itm">
                        <div class="thumbnail service">
                            <i class="fa fa-shopping-basket fa-5x" aria-hidden="true"></i>
                            <h5 class="text-center">Creación de Pedido</h5>
                        </div>
                    </div>
                </a>

                <a href="{{ path('lavaseco_Bills') }}">
                    <div class="col-sm-6 col-md-4 service-itm">
                        <div class="thumbnail service">
                            <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                            <h5 class="text-center">Estado de tus Compras</h5>
                        </div>
                    </div>
                </a> 
                    
                <a href="{{ path('lavaseco_Bills') }}">
                    <div class="col-sm-6 col-md-4 service-itm">
                        <div class="thumbnail service">
                            <i class="fa fa-address-book-o fa-5x" aria-hidden="true"></i>
                            <h5 class="text-center">Mis direcciones</h5>
                        </div>
                    </div>
                </a>    

            </div>
        </div>

    {% endblock %}
    {% block javascripts %}
        <script>

        </script>
    {% endblock %}