<style> 
    .req {
        margin:2px;
        color:#1ab188;
    }
</style>

<div class="row">
    <div class="col-md-10 col-md-offset-1">  
        <div class="form-group">
            <div id="divName" class="form-group">
                <p>Nombres<span class="req">*</span></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info fa-fw"></i></span>
                    <input class="form-control" id="client_name" type="text" required autocomplete="off" />
                </div>
                <span id="helpBlockName" class="help-block"></span>
            </div>

            <div id="divEmail" class="form-group">
                <label  class="control-label">Email</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" id="client_email" type="email" o required autocomplete="off"/>
                </div>
                <span id="helpBlockEmail" class="help-block"></span>
            </div>

            <div id="divPhone" class="form-group">
                <p>Numero Telefono</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                    <input class="form-control" id="client_phone_number" type="number" required autocomplete="off"/>
                </div>
            </div>

            <div id="divAddress" class="form-group">
                <p>Dirección</p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info fa-fw"></i></span>
                    <input class="form-control" id="client_address" type="text" required autocomplete="off"/>
                </div>
            </div>

            <!--pasar al formulario de confirmacion
                            <div class="form-group">
                                <p>Contraseña<span class="req">*</span></p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input class="form-control" id="client_psw" type="password"required autocomplete="off"/>
                                </div>
                            </div>
            
                            <div class="form-group">
                                <p>Confirmar Contraseña<span class="req">*</span></p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input class="form-control" id="client_confirmPsw" type="password"required autocomplete="off"/>
            
                                </div>
                            </div>
            -->
            <button type="submit"  onclick="saveUser();" class="btn btn-success btn-block"/>Guardar</button>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        var valid = false;
        var validName = false;

        $('#client_email').focusout(function () {
            if ($("#client_email").val() !== ""){         
                $.ajax({
                    url: "{{ path('lavaseco_api_validate_customer') }}/" + $("#client_email").val(),
                    method: "GET",
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (result) {
                        var email = $("#client_email").val();

                        if (email === null || email.length === 0 || /^\s+$/.test(email)) {
                            $("#divEmail").removeClass("has-success");
                            $("#divEmail").addClass("has-warning");
                        } else if (!(/\S+@\S+\.\S+/.test(email))) {
                            $("#divEmail").removeClass("has-success");
                            $("#divEmail").removeClass("has-warning");
                            $("#divEmail").addClass("has-error");
                            $("#helpBlockEmail").text("Campo No Valido");
                        } else {
                            valid = result.valid;
                            if (!valid) {
                                $("#divEmail").removeClass("has-success");
                                $("#divEmail").addClass("has-error");
                                $("#helpBlockEmail").text("Este Email ya se encuentra registrado");
                            } else {
                                $("#divEmail").removeClass("has-error");
                                $("#divEmail").addClass("has-success");
                                $("#helpBlockEmail").text("");
                            }
                        }
                    }
                });
            }else{
                $("#divEmail").removeClass("has-success");
                $("#divEmail").addClass("has-warning");
            }
        });

        $('#client_name').focusout(function () {
            var name = $("#client_name").val();

            if (name === null || name.length === 0 || /^\s+$/.test(name)) {
                $("#divName").removeClass("has-success");
                $("#divName").addClass("has-error");
                $("#helpBlockName").text("Campo Obligatorio");
                validName = false;
            } else {
                $("#divName").addClass("has-success");
                $("#divName").removeClass("has-error");
                $("#helpBlockName").text("");
                validName = true;
            }
        });
{#
        $('#client_address').focusout(function () {
            var address = $("#client_address").val();

            if (address === null || address.length === 0 || /^\s+$/.test(address)) {
                $("#divAddress").removeClass("has-success");
                $("#divAddress").addClass("has-warning");
            } else {
                $("#divAddress").addClass("has-success");
                $("#divAddress").removeClass("has-warning");
            }
        });

        $('#client_phone_number').focusout(function () {
            var phone = $("#client_phone_number").val();

            if (phone === null || phone.length === 0 || /^\s+$/.test(phone)) {
                $("#divPhone").removeClass("has-success");
                $("#divPhone").addClass("has-warning");
            } else {
                $("#divPhone").addClass("has-success");
                $("#divPhone").removeClass("has-warning");
            }
        });
#}

        function saveUser() {
            if (validName) {
                var user = {
                    "name": $("#client_name").val()
                };
                if ($("#client_email").val() !== "") {
                    user["email"] = $("#client_email").val();
                }
                if ($("#client_address").val() !== "") {
                    user["address"] = $("#client_address").val();
                }
                if ($("#client_phone_number").val() !== "") {
                    user["phoneNumber"] = $("#client_phone_number").val();
                }


                $.ajax({
                    url: "{{ path("lavaseco_api_create_customer") }}",
                    method: "POST",
                    dataType: "json",
                    data: user,
                    beforeSend: function (xhr) {
                        loadingModal("Creando usuario en el sistema... Espere por favor.");
                    },
                    success: function (result) {
                        closeLoadingModal();
                        openModalAlerErrorSuccess("Confirmación Creación de Usuarios", "El cliente " + result.name + " ha sido creado correctamente.");
                        clearForm();
                    },
                    error: function () {
                        closeLoadingModal();
                        openModalAlerErrorSuccess("Confirmación Creación de Usuarios", "Error al registrar el usuario");
                    }
                });
            } else {
                openModalAlerErrorSuccess("Error", "El campo nombre es obligatorio");
            }
        }

        function clearForm() {
            $("#client_email").val('');
            $("#client_name").val('');
            $("#client_address").val('');
            $("#client_phone_number").val('');
            $("#divEmail").removeClass("has-success");
            $("#divPhone").removeClass("has-success");
            $("#divName").removeClass("has-success");
            $("#divAddress").removeClass("has-success");
            $("#divEmail").removeClass("has-warning");
            $("#divPhone").removeClass("has-warning");
            $("#divName").removeClass("has-warning");
            $("#divAddress").removeClass("has-warning");
            validName = false;
            valid = false;
        }

    </script>
{% endblock %}
