{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block body %} 
    <h1>Gestor de Clientes</h1>
    <p>
        Cree modifique y edite la informacion de los usuarios.
    </p>
    <hr>    
    {% include 'LavasecoBundle:BootsTrap:Settings/Users/userForm.html.twig' %}
{% endblock %}