{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>

<div class="alert alert-success">
  <strong>Correo envíado con éxito!</strong> Por favor, verifique  su bandeja de entrada un correo que contiene un link para cambiar su contraseña.
</div>


{% endblock %}
