{% trans_default_domain 'FOSUserBundle' %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>¿Olvido su contraseña?</h4>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                            <div class="form-group col-md-10 col-md-offset-1">
                                <div id="divEmail" class="form-group">
                                    <label class="control-label" for="username">{{ 'Usuario o Email'|trans }}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                        <input class="form-control" id="username" name="username" type="email" required="required"/>
                                    </div>
                                    <span id="helpBlockEmail" class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4" id="divSaveClient" class="form-group">
                                <input id="btnSendEmailConformation" type="submit" class="btn btn-success btn-block" value="{{ 'Enviar'|trans }}"/>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>