{% extends "LavasecoBundle:BootsTrap:Base/base.html.twig" %}

{% block stylesheets %}
{% endblock %} 

{% block body %} 
    Reporte venta Diaria
    <br>
    Motrar filtros (Fechas inicio, fecha final, punto de venta)
    <br>
    Mostrar total cancelado, total pendiente, total vendido
    <br>
    motrar Grafica(punto venta (Cancelado, Pendiente) vs plata),
    <a href="https://www.highcharts.com/demo/column-negative">Usar esta grafica</a>
    <br>
    Tabla con los datos del reporte
{% endblock %}

{% block javascripts %}
{% endblock %}

